.navbar {
  height: 60px;
}

.navbar-brand {
  color: rgb(9, 9, 9);
}

.btn {
  background-color: red;
  height: 30px;
}

.nav-link {
  color: rgb(5, 5, 5);
}

.GameCardDiv {
  color: rgb(10, 11, 11);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  font-family: cursive;
  
}

.RandomPageh5 {
  color: rgb(6, 6, 6);
}

.display1 {
  color: rgb(87, 68, 68);
}

.game-image {
  width: 20%;
  border-radius: 10px;
}

.HomePageFirstDiv {
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  background-image: url(./images/anotherbackground.webp);
  font-family: cursive;
  border-radius: 20px;
  padding: 80px;
  background-size: cover;
}

.FirstDivH1 {
  font-size: 6em;
  font-weight: 900;
}

.FirstDivP {
  font-size: 3em;
}

.GamePageDetails {
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  font-family: cursive;
  border-radius: 20px;
  padding: 80px;
  background-size: cover;
}

.FavoriteGame {
  text-align: center;
 
  background-color: rgb(32, 30, 30);
  font-family: cursive;
  
  padding: 80px;
  background-size: cover;
  color: aliceblue;
}