
.navbar {
  height: 60px;
}

.navbar-brand {
  color: rgb(9, 9, 9);
}

.btn {
  background-color: red;
  height: 30px;

}

.nav-link {
  color: rgb(5, 5, 5);
}

.GameCardDiv {
  color: rgb(10, 11, 11);
  text-align: center;
  
}

.RandomPageh5 {
  color: rgb(6, 6, 6);
}

.display1 {
  color:rgb(87, 68, 68)
}

.game-image {
  width: 20%;
  border-radius: 10px;
}

.GameDetails {
  
}